.wikicontent {
    
    #wiki {
        
        display: flex;
        flex-wrap: wrap-reverse;
    
        #wikicontent_container {
            width: 70%;
            min-width: 240pt;
            margin: 0 auto auto;
        
            #wikicontent_title {
        
                padding: 1pt;
        
                text-align: center;
                border-bottom: 0.5pt solid #cccccc;
        
            }
        
            #wikicontent {
                margin: 8pt;
    
                img {
                    max-width: 100%;
                }
    
            }
        
        }
    
        #sidebar_container {
        
            border: 1pt solid #cccccc;
            border-radius: 10pt;
            width: 25%;
            min-width: 180pt;
            margin: 0 auto auto;
        
            #sidebar {
                margin: 8pt;
            }
        
        }
    
        #footer_container {
        
            border: 1pt solid #cccccc;
            border-radius: 10pt;
            width: 70%;
            min-width: 240pt;
            margin: 10pt 0;
        
            #footer {
                margin: 8pt;
            }
        
        }
    
    }

}
