// The SCSS for the wiki
.wikicontent {
    
    /*
        Most of these elements use IDS rather
        than classes from when I used a different
        system to fetch the markdown files and
        display them rather than just having
        ngx-markdown handle the rendering itself
        and just passing the path to it.
    */

    // The wiki's flex container
    #wiki {
        
        display: flex;
        flex-wrap: wrap-reverse;
    
        // The main wiki page
        #wikicontent_container {
            width: 70%;
            min-width: 240pt;
            margin: 0 auto auto;
        
            #wikicontent_title {
        
                padding: 1pt;
        
                text-align: center;
                border-bottom: 0.5pt solid #cccccc;
        
            }
        
            #wikicontent {
                margin: 8pt;
    
                img {
                    max-width: 100%;
                }
    
            }
        
        }
    
        // The sidebar
        #sidebar_container {
            
            width: 25%;
            min-width: 180pt;
            margin: 0 auto auto;
        
            .card {
                #sidebar {
                    margin: 8pt;
                }
            }
        
        }
    
        // The wiki footer
        #footer_container {

            width: 70%;
            min-width: 240pt;

            .card {

                width: 100%;
                margin: 10pt 0;
        
                #footer {
                    margin: 8pt;
                }

            }
        
        }
    
    }

}
