<div class="tabbar">

  <div class="tab_spacer">
    <p>Shh, this tab doesn't exist...</p>
  </div>

  <div class="tab_deselected">
    <a routerLink="/home"><h3>Home</h3></a>
  </div>
  
  <div class="tab_deselected">
    <a routerLink="/download"><h3>Download</h3></a>
  </div>

  <div class="tab">
    <a routerLink="/wiki"><h3>Wiki</h3></a>
  </div>
  
  <div class="tab_deselected">
    <a target="_blank" rel="noopener noreferrer" href="https://liberapay.com/justinhschaaf/"><h3>Donate</h3></a>
  </div>

</div>

<div class="content">

  <div id="wiki">

    <div id="wikicontent_container">
      <div id="wikicontent_title"></div>
      <div id="wikicontent"></div>
    </div>

    <div id="sidebar_container">
      <div id="sidebar"></div>
    </div>

  </div>

  <div id="footer_container">
    <div id="footer"></div>
  </div>

</div>