
<div id="site_header">
  
  <div id="logo">
    <a routerLink="/home"><img src="assets/logos/yamltobot-logo.svg"></a>
  </div>

  <div id="title">
    <h1>YamlToBot</h1>
  </div>

</div>

<router-outlet></router-outlet>

<div class="footer">

  <div class="footer_content">
    
    <div class="footer_column">

      <h3>Sitemap</h3>

      <p><a routerLink="/home">Home</a></p>

      <p><a routerLink="/download">Download</a></p>

      <p><a routerLink="/wiki">Wiki</a></p>

    </div>
    
    <div class="footer_column">

      <h3>External Links</h3>

      <p><a href="https://justinschaaf.com">Personal Website</a></p>

      <p><a href="https://liberapay.com/justinhschaaf">Donate</a></p>

      <p><a href="https://github.com/YamlToBot/YamlToBot">YamlToBot Source</a></p>

      <p><a href="https://github.com/YamlToBot/yamltobot.com">Website Source</a></p>

    </div>
    
    <div class="footer_column">

      <h3>Wiki</h3>

      <p><a href="wiki">Main Page</a></p>

      <p><a href="wiki/--Pages">Page List</a></p>

      <p><a href="https://github.com/YamlToBot/content.yamltobot.com">Contribute</a></p>

    </div>

  </div>

</div>
