
<!--The site's header, with the YamlToBot logo and text name-->
<div id="site_header">
  
  <div id="logo">
    <!--In case Angular can't find the desired page, allow the user to click the logo to go home-->
    <a routerLink="/home"><img src="https://content.yamltobot.com/common/logos/logo.svg"></a>
  </div>

  <div id="title">
    <h1>YamlToBot</h1>
  </div>

</div>

<!--The navigation bar at the top of the page, right under the YamlToBot logo-->
<div class="tabbar">

  <div class="tab_spacer">
    <p>Shh, this tab doesn't exist...</p>
  </div>

  <div class="tab_deselected" routerLink="/home" routerLinkActive="tab">
    <a><h3>Home</h3></a>
  </div>
  
  <div class="tab_deselected" routerLink="/download" routerLinkActive="tab">
    <a><h3>Download</h3></a>
  </div>

  <div class="tab_deselected" routerLink="/wiki" routerLinkActive="tab">
    <a><h3>Wiki</h3></a>
  </div>
  
  <div class="tab_deselected">
    <a target="_blank" rel="noopener noreferrer" href="https://liberapay.com/justinhschaaf/"><h3>Donate</h3></a>
  </div>

</div>

<!--The main content of the website, wherever the user goes-->
<router-outlet></router-outlet>

<!--The website's footer-->
<div class="footer">

  <!--Flex container for the 3 different footer columns-->
  <div class="footer_content">
    
    <div class="footer_column">

      <h3>Sitemap</h3>

      <p><a routerLink="/home">Home</a></p>

      <p><a routerLink="/download">Download</a></p>

      <p><a routerLink="/wiki">Wiki</a></p>

    </div>
    
    <div class="footer_column">

      <h3>External Links</h3>

      <p><a href="https://justinschaaf.com">Personal Website</a></p>

      <p><a href="https://liberapay.com/justinhschaaf">Donate</a></p>

      <p><a href="https://github.com/YamlToBot/YamlToBot">YamlToBot Source</a></p>

      <p><a href="https://github.com/YamlToBot/yamltobot.com">Website Source</a></p>

    </div>
    
    <div class="footer_column">

      <h3>Wiki</h3>

      <p><a href="wiki">Main Page</a></p>

      <p><a href="wiki/--Pages">Page List</a></p>

      <p><a href="https://github.com/YamlToBot/content.yamltobot.com">Contribute</a></p>

    </div>

  </div>

</div>
