
// Site Header, Containing YamlToBot Logo and Text
#site_header {

    display: flex;

    background-color: #555555;
    color: #FFFFFF;

    #logo {
        margin: 5pt 15pt;
        width: 70pt;
    }

    #title {
        margin: 5pt 15pt;
        font-weight: medium;
    }

}

// Site footer, with 3 different columns
.footer {

    margin: 48pt 0 0 0;
    padding: 10pt;
    background-color: #555555;
    color: #ffffff;

    // Footer Flex Container
    .footer_content {

        max-width: 720pt;
        margin: auto;
        display: flex;

        .footer_column {
            min-width: 240pt;
            width: 30%;
        }

    }

}
