// For the heading that says "Downloads" to title the webpage
.title {

    padding: 1pt;

    text-align: center;
    border-bottom: 0.5pt solid #cccccc;

}

// Colors for a stable release
.stable {
    background-color: #eeffee;
    color: #008800;
}

// Colors for a prerelease
.pre {
    background-color: #eeeeff;
    color: #000088;
}

// Colors for an indev build
.indev {
    background-color: #ffeeee;
    color: #880000;
}

// Featured downloads
.featured {

    display: flex;

    // Card element customizations
    .card {

        width: 45%;
        margin: auto;

        .card_content {
            
            padding: 0pt;
            display: flex;
            width: 100%;
            height: 48pt;

            y2b-download-buttons {

                width: 100%;

            }

        }

    }

}

// The table of downloads
.downloads_table {

    // Card element customizations
    .card {

        width: 95%;
        margin: auto;

        // A row in the table
        .downloads_table_item {

            border-top: 1pt solid #cccccc;
            display: flex;
            height: 48pt;

            .downloads_table_item_name {
                width: 50%;
                text-align: center;
            }

            .downloads_table_item_buttons {
                width: 50%;
                height: 100%;
            }

        }

    }

}
