
<!--The body of the webpage-->
<div class="content">

  <h1 class="title">Downloads</h1>

  <div class="featured">

    <!--The latest stable release-->
    <div class="card">

      <div class="card_header stable">
        <h3>Latest Release</h3>
      </div>

      <div class="card_content">
        <y2b-download-buttons [release]="latest"></y2b-download-buttons>
      </div>

    </div>

    <!--The latest prerelease-->
    <div class="card">

      <div class="card_header pre">
        <h3>Latest Pre Release</h3>
      </div>

      <div class="card_content">
        <y2b-download-buttons [release]="latestPre"></y2b-download-buttons>
      </div>

    </div>

  </div>

  <br>

  <!--The table containing all of the releases-->
  <div class="downloads_table">

    <div class="card">
  
      <div class="card_header">
        <h3>Other Downloads</h3>
      </div>
  
      <!--Iterate through each release-->
      <div *ngFor="let release of releases; index as i" class="downloads_table_item">
  
        <!--The [ngClass] updates depending on if it's the latest stable release or if it is a prerelease-->
        <div [ngClass]="{'pre': release.prerelease && release.tag_name.includes('PRE'), 'stable': !release.prerelease, 'indev': release.prerelease && release.tag_name.includes('INDEV') }" class="downloads_table_item_name">
          <h4>{{ release.name }}</h4>
        </div>
  
        <div class="downloads_table_item_buttons">
          <y2b-download-buttons [release]="release"></y2b-download-buttons>
        </div>
  
      </div>
  
    </div>

  </div>

</div>
