.title {

    padding: 1pt;

    text-align: center;
    border-bottom: 0.5pt solid #cccccc;

}

.stable {
    background-color: #eeffee;
    color: #008800;
}

.pre {
    background-color: #ffeeee;
    color: #880000;
}

.featured {

    display: flex;

    .card {

        width: 45%;
        margin: auto;

        .card_content {
            
            padding: 0pt;
            display: flex;

            button {
                width: 50%;
            }

        }

    }

}

.downloads_table {

    .card {

        width: 95%;
        margin: auto;

        .downloads_table_item {

            border-top: 1pt solid #cccccc;
            display: flex;
            height: 48pt;

            .downloads_table_item_name {
                width: 50%;
                text-align: center;
            }

            button {
                width: 25%;
                height: 100%;
            }

        }

    }

}
