/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto|IBM+Plex+Mono');

* {
    font-family: 'Roboto', 'Segoe UI Emoji', sans-serif;
    flex-wrap: wrap;
}

body {
    margin: 0;
}

a {
    text-decoration: underline;
    color: #fa3;
}

// Site Header, Containing YamlToBot Logo and Text
#site_header {

    display: flex;

    background-color: #555555;
    color: #FFFFFF;

    #logo {
        margin: 5pt 15pt;
        width: 70pt;
    }

    #title {
        margin: 5pt 15pt;
        font-weight: medium;
    }

}

// Tab Bar
.tabbar {

    display: flex;

    background-color: #555555;

    a {
        text-decoration: none;
        color: inherit;
    }

    .tab {

        height: 50pt;
        width: 10%; // 128pt
        padding: auto;

        background-color: #FFFFFF;
        box-shadow: 0 -3pt 8pt rgba(0, 0, 0, 0.2);

        text-align: center;

    }

    .tab_deselected {

        height: 48pt;
        width: 10%; // 128pt
        padding: auto;
        
        background-color: #555555;
        color: #FFFFFF;
        border: 1pt solid #444444;
        text-align: center;

    }

    .tab_spacer {

        height: 48pt;
        width: 10%; // 128pt
        padding: auto;
        font-size: 0.1pt;
        
        background-color: #555555;
        color: #555555;
        text-align: center;

    }

}

// Standard Button Styles
button {

    border-width: 0;
    margin: auto;
    padding: 0 10pt;

}

// Styles for different YamlToBot platforms
.discord {
    background-color: #7289DA;
    color: #ffffff;
}

.twitch {
    background-color: #6441A4;
    color: #ffffff;
}

// Banner image CSS
.banner {

    max-width: 720pt;
    height: 150pt;
    text-align: center;
    padding: 25pt;
    margin: 20pt auto;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    color: #FFFFFF;
    border-radius: 10pt;

    .banner_content {

        margin: auto;
        padding: 25pt;
        height: 100pt;

    }

}

// Site body content
.content {

    margin: 0 auto;
    max-width: 720pt;
    padding: 8pt;
    background-color: #FFFFFF;

}

.footer {

    margin: 48pt 0 0 0;
    padding: 10pt;
    background-color: #555555;
    color: #ffffff;

    .footer_content {

        max-width: 720pt;
        margin: auto;
        display: flex;

        .footer_column {
            min-width: 240pt;
            width: 30%;
        }

    }

}

// Markdown Custom Styling
markdown {
    
    h1, h2, h3 {
        border-bottom: 0.5pt solid #cccccc;
        padding-bottom: 0.3em;
    }

    img {
        max-width: 90%;
    }

    table {

        border: 0.5pt solid #cccccc;
        border-collapse: collapse;

    }

    table, th, td {
        border: 0.5pt solid #cccccc;
    }

    // From https://www.w3schools.com/Css/css_table.asp
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    code[class*="language-"], pre[class*="language-"] {

        background: #f2f2f2;

        * {
            font-family: 'IBM Plex Mono', monospace;
        }

    }

}
