
// Import Roboto and IBM Plex Mono
// Roboto is the main font
// IBM Plex Mono is for code blocks
@import url('https://fonts.googleapis.com/css?family=Roboto|IBM+Plex+Mono');

// Set font globally
* {
    font-family: 'Roboto', 'Segoe UI Emoji', sans-serif;
    flex-wrap: wrap;
}

// Remove body margins, mostly for browsers with default body margin
body {
    margin: 0;
}

// Set custom link styling, also to prevent purple links once they've been clicked
a {
    text-decoration: underline;
    color: #fa3;
}

// Button custom CSS
button {

    border-width: 0;
    margin: auto;
    padding: 0 10pt;
    background-color: #ccc;
    transition: 0.3s;

}

// Button hover effect
button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

// Styles for different YamlToBot platforms
.discord {
    background-color: #7289DA;
    color: #ffffff;
}

.twitch {
    background-color: #6441A4;
    color: #ffffff;
}

.mixer {
    background-color: #00BCF2;
    color: #ffffff;
}

// Cards
.card {

    border: 1pt solid #cccccc;
    border-radius: 10pt;
    overflow: hidden;
    transition: 0.3s;
    min-width: 200pt;

    // Card header
    .card_header {

        padding: 1pt;

        text-align: center;
        border-bottom: 1pt solid #cccccc;
        background-color: #eeeeee;

    }

    // Card content
    .card_content {
        padding: 1pt;
    }

}

.card:hover {
    box-shadow: 0pt 3pt 8pt rgba(0, 0, 0, 0.2);
}

// Banner image CSS
.banner {

    max-width: 720pt;
    height: 150pt;
    text-align: center;
    padding: 25pt;
    margin: 20pt auto;

    // How the image is positioned in the banner
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: local;

    // Text color and border
    color: #FFFFFF;
    border-radius: 10pt;

    // CSS Transition
    transition: 0.3s;

    // Center content
    display: flex;
    flex-direction: column;
    justify-items: center;

    // The text overlayed on the banner
    .banner_content {

        margin: auto;
        padding: 25pt;
        height: 100pt;

    }

}

.banner:hover {
    max-width: 90%;
    width: 90%;
    height: 200pt;
    box-shadow: 0 3pt 8pt rgba(0, 0, 0, 0.2);
}

// Site body content
.content {

    margin: 0 auto;
    max-width: 720pt;
    padding: 8pt;
    background-color: #FFFFFF;

}

// Markdown Custom Styling
markdown {
    
    // Add a line under the top 3 headers
    h1, h2, h3 {
        border-bottom: 0.5pt solid #cccccc;
        padding-bottom: 0.3em;
    }

    // Ensure images aren't comedically huge
    img {
        max-width: 90%;
    }

    // Add a border to the table
    table {

        border: 0.5pt solid #cccccc;
        border-collapse: collapse;

    }

    table, th, td {
        border: 0.5pt solid #cccccc;
    }

    // Have striped table rows
    // From https://www.w3schools.com/Css/css_table.asp
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    // Customize Prism's BG color and font
    code[class*="language-"], pre[class*="language-"] {

        background: #f2f2f2;

        * {
            font-family: 'IBM Plex Mono', monospace;
        }

    }

}
