
<!--The banner at the top of the page with a BG image and name-->
<div class="banner banner_home">

  <div class="banner_content">

    <h1>YamlToBot</h1>

    <h3>Make chat bots easily.</h3>

  </div>

</div>

<!--The body of the webpage-->
<div class="content">

  <h2>What is YamlToBot?</h2>

  <p>
    YamlToBot is an application that allows you to host your own chat bot for Discord or Twitch.
    You are able to customize your bot with a wide range of commands through a simple configuration
    file, or you could even make your own custom scripts to run!
  </p>

  <br>

  <!--Promotional Phrase: "Configure, Run, Done!"-->
  <div class="home_steps_container">

    <div class="card">

      <img src="assets/images/home_step_0.png">

      <h2>Configure,</h2>

    </div>

    <div class="card">

      <img src="assets/images/home_step_1.png">

      <h2>Run,</h2>

    </div>

    <div class="card">

      <img src="assets/images/home_step_2.png">

      <h2>Done!</h2>

    </div>

  </div>

  <br>

  <!--Even though "align" is colored red in VS Code, it works perfectly fine-->
  <h1 align="center">Ready to get started?</h1>

  <!--The container for the download and wiki cards-->
  <div class="home_started_container">

    <div class="card">

      <div class="card_header">
        <h2>Download</h2>
      </div>

      <div class="card_content">
        <y2b-download-buttons [release]="release"></y2b-download-buttons>
      </div>

    </div>

    <div class="card">

      <div class="card_header">
        <h2>Wiki</h2>
      </div>

      <div class="card_content">
        <button class="button wiki" routerLink="/wiki/Home"><h3>Home</h3></button>
      </div>

    </div>

  </div>

</div>
