
// Banner Background for Home
.banner_home {
    background-image: url('/assets/images/home_banner.png');
}

// Config, Run, Done.
.home_steps_container {

    display: flex;

    // Card element customization
    .card {

        width: 30%;
        height: 180pt;
        padding: 1%;
        margin: 10pt auto;

        text-align: center;

        // Resize all of the images to be the same size in order for
        // the text to line up and for the cards to be the same height
        img {

            width: 98%; // 250pt
            height: 70%;

            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;

            border-radius: 10pt;

        }

    }

}

// For the "Let's Get Started" section
.home_started_container {

    display: flex;

    // Card element customization
    .card {

        width: 45%;
        margin: 5pt auto;

        .card_content {
            
            padding: 0pt;
            display: flex;

            // Set the buttons for downloading Discord/Twitch to 50% of the width of the card
            button {
                width: 50%;
            }

            .wiki {
                width: 100%;
                background-color: #ffffff;
            }

        }

    }

}