
// Banner Background for Home
.banner_home {
    background-image: url('/assets/images/home_banner.png');
}

// Config, Run, Done.
.home_steps_container {

    display: flex;

    .home_step {

        width: 30%;
        min-width: 200pt;
        height: 180pt;
        padding: 1%;
        margin: 10pt auto;
        border: 1pt solid #cccccc;
        border-radius: 10pt;

        text-align: center;

        img {

            width: 98%; // 250pt
            height: 70%;

            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;

            border-radius: 10pt;

        }

    }

}

// For the "Let's Get Started" section
.home_started_container {

    display: flex;

    .home_started_object {

        width: 45%;
        margin: auto;

        border: 1pt solid #cccccc;
        border-radius: 10pt;

        .home_started_object_header {

            padding: 1pt;

            text-align: center;
            border-bottom: 1pt solid #cccccc;
            border-radius: 10pt 10pt 0 0;
            background-color: #eeeeee;

        }

        .home_started_object_content {
            
            padding: 0pt;
            display: flex;

            button {
                width: 50%;
            }

            .discord {
                border-radius: 0 0 0 10pt;
            }

            .twitch {
                border-radius: 0 0 10pt 0;
            }

            .wiki {
                border-radius: 0 0 10pt 10pt;
                width: 100%;
                background-color: #ffffff;
            }

        }

    }

}